$color-primary: #3046c5;
$color-secondary: #5637dd;
$color-pale: #CEC8FF;
$color-mid: #901CAD;
$color-dark: #60106b;
$color-black-transparent: rgba(0,0,0,0.5);
$color-teal: #17A2B8;

$body-font: "Open Sans", sans-serif;
$header-font: "lobster", cursive;

body {
  font-family: $body-font;
}

h1, h2, h3 {
  font-family: $header-font;
}

h2 {
  color: $color-primary;
}

header {
  h2 {
    color: $color-pale;
  }
}

.navbar {
  background-color: $color-mid;
}

footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.site-footer {
    background-image: linear-gradient($color-pale, white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, $color-secondary, $color-primary, $color-dark);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
a, a:hover {
    color: inherit;
    text-decoration: none;
}

.carousel-caption {
  background-color: $color-black-transparent;
}

.carousel {
  border: solid $color-secondary;
}

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
}

#reserveModal {
  .modal-header {
   background-color: $color-teal; 
   color: white;
  }
}

#loginModal {
  .modal-header {
    background-color: $color-mid;
    color: white;
  }
}
