body {
  font-family: "Open Sans", sans-serif; }

h1, h2, h3 {
  font-family: "lobster", cursive; }

h2 {
  color: #3046c5; }

header h2 {
  color: #CEC8FF; }

.navbar {
  background-color: #901CAD; }

footer {
  background-image: linear-gradient(#CEC8FF, white);
  padding: 20px 0; }

.site-footer {
  background-image: linear-gradient(#CEC8FF, white);
  padding: 20px 0; }

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #5637dd, #3046c5, #60106b);
  color: white; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

a, a:hover {
  color: inherit;
  text-decoration: none; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

.carousel {
  border: solid #5637dd; }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100; }

#reserveModal .modal-header {
  background-color: #17A2B8;
  color: white; }

#loginModal .modal-header {
  background-color: #901CAD;
  color: white; }
